/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html, body, [class*="css"] {
    font-family: 'Poppins', sans-serif;
}

/* Background */
.stApp{
    background: linear-gradient(135deg,#0f172a,#1e3a8a,#312e81);
    background-size:400% 400%;
    animation: gradient 12s ease infinite;
}

@keyframes gradient{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

/* Hide Streamlit Menu */
#MainMenu{
    visibility:hidden;
}
footer{
    visibility:hidden;
}
header{
    visibility:hidden;
}

/* Title */
.title{
    text-align:center;
    padding-top:20px;
}

.title h1{
    color:white;
    font-size:55px;
    font-weight:700;
}

.title h3{
    color:#d1d5db;
    font-weight:300;
}

.title span{
    color:#38bdf8;
    font-weight:bold;
}

/* Upload Box */
[data-testid="stFileUploader"]{
    border:2px dashed #60a5fa;
    border-radius:20px;
    padding:25px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(18px);
}

/* Image */
img{
    border-radius:18px;
}

/* Glass Cards */
[data-testid="stVerticalBlock"]{
    background:rgba(255,255,255,.07);
    border-radius:20px;
    padding:18px;
    backdrop-filter:blur(15px);
}

/* Buttons */
.stButton>button{

    width:100%;

    border:none;

    border-radius:12px;

    color:white;

    font-size:18px;

    font-weight:bold;

    padding:12px;

    background:linear-gradient(90deg,#2563eb,#7c3aed);

    transition:.3s;
}

.stButton>button:hover{

    transform:scale(1.04);

    box-shadow:0px 0px 25px #60a5fa;
}

/* Download Button */
.stDownloadButton>button{

    width:100%;

    border:none;

    border-radius:12px;

    background:#16a34a;

    color:white;

    font-weight:bold;

    font-size:18px;
}

.stDownloadButton>button:hover{

    background:#22c55e;

    transform:scale(1.04);
}

/* Progress */
.stProgress>div>div>div{

    background:#38bdf8;
}

/* Success */
.stAlert{

    border-radius:15px;
}

/* Text */
h1,h2,h3,h4,p,label{

    color:white !important;
}